{% extends "events/base.html" %}

{% block content %}
    <center>
    <h1>Add a New Event</h1>
    </center>
    <br>
    <br>
    <form action="" method="POST" enctype="multipart/form-data">
        {%csrf_token%} <!-- standard application for hack security. learn this. -->
        {{form.as_p}} <!-- {{form.as_p}}  this is to print a form. learn this. -->
        <br>
        <br>
        <center>
        <input type="submit" value="Submit" class="btn btn-primary">
        </center>
    </form>
{% endblock%}
